li{
    cursor: pointer;
}
.btn-grad {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: lightyellow;
   box-shadow: 0 0 20px #eee;
   display: block;
 }

 .btn-grad:hover {
    background-position: right center;
    color: darkviolet;
    text-decoration: none;
 }