<h3 class="animate__animated animate__bounceInRight">Buscar por region <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5 class="animate__animated animate__bounceInRight">Seleccione la region</h5>

<div class="row">
    <div class="col">
        <!-- [class.btn-primary]="region == regionActiva" -->
        <!-- [ngClass]="{
            'btn-primary': region == regionActiva,
            'btn-outline-primary': regionActiva !== region
        }" -->
        <button *ngFor="let region of regiones" 
                class="animate__animated animate__bounceInRight"
                [class]="getClaseCss(region)" 
                (click)="activarRegion(region)"
                >
            {{region | titlecase}}
        </button>
    </div>
    <div *ngIf="paises.length > 0" class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>